<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="page_style.css">
        <title>Page Editor-Menura Maneth</title>
    </head>
    <body>
        <header>
            <h1>Page Editor</h1>
        </header>
        <hr>
        <div class="profile">
            <p>Name: Menura Maneth</p>
            <p>Role: Student 1</p>
            <p>These pages were edited by me.</p>
        </div>
        <hr>
        <div class="container">
            <a href="#bottom">Jump to bottom</a>

            <div>
                <h2>Shop</h2>
                <p>Our shop page offers a curated selection of products, providing users with a convenient and secure platform to browse, purchase, and explore various items.</p>
                <a href="../Shop/index.html">Link to Shop</a>
            </div>

            <div>
                <h2>Splash Screen</h2>
                <p>The splash screen welcomes visitors with captivating visuals and concise messaging, setting the tone for their journey through our website and enhancing their overall browsing experience.</p>
                <a href="../../splash.html">Link to Spash screen</a>
            </div>
        </div>
        <footer id="bottom"></footer>
    </body>
</html>