<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="checkoutPopup.css">
</head>
<body class="showcart">
    <div class="navbar">
        <h2 class="icon"><img src="images/@logo4.png" alt="Feed Hope Logo" height="70"></h2>
        <div class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#" class="active">Shop</a></li>
                <li><a href="#">User Profile</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Our Team</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <header>
            <div class="title"> Product List</div>
            <div class="icon-cart">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"/>
                </svg>
              <span>0</span>
            </div>
        </header>
        <div class="listProducts">
            <div class="item">
                <img src="images/hoodie.png" alt="hoodie">
                <h2>Black hoodie</h2>
                <div class="price">$20</div>
                <button class="addcart">Add to cart</button>
            </div>
            <div class="item">
                <img src="images/white_hoodie.png" alt="white_hoodie">
                <h2>White hoodie</h2>
                <div class="price">$20</div>
                <button class="addcart">Add to cart</button>
            </div>
            <div class="item">
                <img src="images/black_band.png" alt="black_band">
                <h2>black band</h2>
                <div class="price">$4</div>
                <button class="addcart">Add to cart</button>
            </div>
            <div class="item">
                <img src="images/white_band.png" alt="White_band">
                <h2>White band</h2>
                <div class="price">$4</div>
                <button class="addcart">Add to cart</button>
            </div>
            <div class="item">
                <img src="images/Black_cap.png" alt="vlack_cap">
                <h2>Black cap</h2>
                <div class="price">$8</div>
                <button class="addcart">Add to cart</button>
            </div>
            <div class="item">
                <img src="images/white_cap.png" alt="White_cap">
                <h2>White cap</h2>
                <div class="price">$8</div>
                <button class="addcart">Add to cart</button>
            </div>
        </div>
    </div>
    <div class="cartTab">
        <h1>Shopping cart</h1>
        <div class="listCart">
            <div class="item"></div>
        </div>
        <div class="btn">
            <button class="close">Close</button>
            <button class="checkOut">Check Out</button>
        </div>
    </div>
    <footer class="footer">
        <p>Designed and developed by G24-01</p>
        <p>Page Editors: [List of Page Editor Names with Links]</p>
    </footer>
    <script src="app.js"></script>
</body>
</html>
